---
layout: default
---

<article class="post-list">
    <h1>Recent Posts:</h1>
    {% for post in site.posts limit:10 %}
    <h2><a href="{{ post.post_url}" title="{{ post.description }}">{{ post.title }}</a></h2>
    <p>
        {% if post.modified %}
            Published: {{ post.date | date: "%-d %B %Y %H:%M" }}, last updated {{ post.modified | date: "%-d %B %Y %H:%M" }} 
        {% else %}
            Published: {{ post.date | date: "%-d %B %Y" }}
        {% endif %}
        <br />
        {{ post.description }}
    </p>
    <hr>
    {% endfor %}
    <p><a href="/all-posts/" title="Directory page for all posts">All posts</a></p>
</article>