<h1 class="site-header__logo"><a href="{{ site.url }}">{{ site.title }}</a></h1>

<p>
  The personal blog of <a href="/about/">Jack Eden</a>; all mistakes, ommissions, incitments, typos, bad ke&#x200a;rning, and innacuracies are someone else's. 
</p>

<nav class="site-header__navigation">
  <ul>
    {%- for link in site.data.navigation.main limit:1 -%}
      <li>
        <a href="{{ link.url | relative_url }}" title="{{ link.description }}">{{ link.title }}</a>
      </li>
    {%- endfor -%}
    {%- for link in site.data.navigation.main offset:1 -%}
      <li>
      &bull;&nbsp;<a href="{{ link.url | relative_url }}" title="{{ link.description }}">{{ link.title }}</a>&#32;
      </li>
    {%- endfor -%}
  </ul>
</nav>